<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9fba89">  <td>19/09/18 13:29:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="amazon.browser()[pri:0, instance:pages.amazon@55f3ddb1]">browser</td> 
  <td>main@1454127753</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>19/09/18 13:30:09</td>   <td>25778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="amazon.login()[pri:1, instance:pages.amazon@55f3ddb1]">login</td> 
  <td>main@1454127753</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>19/09/18 13:30:11</td>   <td>27399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="amazon.headphone()[pri:2, instance:pages.amazon@55f3ddb1]">headphone</td> 
  <td>main@1454127753</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>19/09/18 13:30:11</td>   <td>27488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="amazon.mackbook()[pri:3, instance:pages.amazon@55f3ddb1]">mackbook</td> 
  <td>main@1454127753</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>19/09/18 13:30:11</td>   <td>27519</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="amazon.multiplesearch()[pri:4, instance:pages.amazon@55f3ddb1]">multiplesearch</td> 
  <td>main@1454127753</td>   <td></td> </tr>
<tr bgcolor="9fba89">  <td>19/09/18 13:30:11</td>   <td>27541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="amazon.logout()[pri:5, instance:pages.amazon@55f3ddb1]">logout</td> 
  <td>main@1454127753</td>   <td></td> </tr>
</table>
